<!DOCTYPE html>
<html lang="en">
  <head>
    
    <!-- 
      This is the main Handlebars template for the site 
      - When the user visits the homepage or submits a color the app calls the endpoints in server.js
      - The server script passes data in here and the Handlebars code builds it into the HTML page
    -->
    
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{seo.title}}</title>
    
    <!-- Meta tags for SEO and social sharing -->
    <link rel="canonical" href="{{seo.url}}">
    <meta name="description" content="{{seo.description}}">
    <meta property="og:title" content="{{seo.title}}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{seo.url}}">
    <meta property="og:description" content="{{seo.description}}">
    <meta property="og:image" content="{{seo.image}}">
    <meta name="twitter:card" content="summary">

    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="/test.css" />

    <!-- This is a handlebars IF statement
         Checking for a custom "color" parameter from server.js -->
       
  </head>
  <body>
    <div id="sky">
      <button id="start" type="button">
        Go
      </button>
      <button id="button" type="button">
        Test
      </button>
    </div>
      <div id="ground">
        
        
          
        <div id="mapcontainer">
          
        
          <svg id="viewbox" viewbox="0 -1000 1000 1650"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

            <g id="placelines" style="fill: gray;" >
              <!--<path d="M 365 600 v -500 l 200 -100 l 200 -150 v -150 l -200 -250 l -200 -200 v -600 h 70 v 600 l 200 200 l 200 250 v 150 l -200 150 l -200 100 v 500 " />
              <path d="M 565 600 v -250 l 200 -150 v -150 l -200 -250 l -200 -200 v -200 l 200 -100 v -600 h 70 v 600 l -200 100 v 200 l 200 200 l 200 250 v 150 l -200 150 v 250" />
              <path d="M 765 600 v -200 l -200 -250 l -200 -200 v -200 l 200 -100 l 200 -150 v -800 h 70 v 800 l -200 150 l -200 100 v 200 l 200 200 l 200 250 v 200" />-->
            </g>
            <g id="speedbumps" style="fill:none;stroke:black;stroke-width:4;" >
              <!--<path d="M365 -750 h 70" />
              <path d="M565 -700 h 70" />
              <path d="M765 -650 h 70" />
              <path d="M365 -600 h 70" />
              <path d="M565 -550 h 70" />
              <path d="M765 -500 h 70" />
              <path d="M365 -400 h 70" />
              <path d="M565 -350 h 70" />
              <path d="M765 -300 h 70" />
              <path d="M365 -250 h 70" />
              <path d="M565 -200 h 70" />
              <path d="M765 -150 h 70" />
              <path d="M365 -50 h 70" />
              <path d="M565 0 h 70" />
              <path d="M765 50 h 70" />
              <path d="M365 100 h 70" />
              <path d="M565 150 h 70" />
              <path d="M765 200 h 70" />
              <path d="M365 304 h 70" />
              <path d="M565 354 h 70" />
              <path d="M765 404 h 70" />
              <path d="M365 454 h 70" />
              <path d="M565 504 h 70" />
              <path d="M765 554 h 70" />-->
            </g>




          </svg>
        </div>
          <svg id="bellbox" width="1100" viewBox="0 0 1100 200" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="bellgroup" text-anchor="center" font-family="Verdana" fill="white" >
              <!--<g id="bell3" style="transform:translateX(-185px);">
                <path d="M560 90 v -35 q 0 -35 25 -35 q 25 0 25 35 v 35 h -50" />
                <text x="580" y="50" style="fill:black;">3</text>
              </g>
              <g id="bell2" style="transform:translateX(22px);">
                <path d="M560 90 v -35 q 0 -35 25 -35 q 25 0 25 35 v 35 h -50" />
                <text x="580" y="50" style="fill:black;">2</text>
              </g>
              <g id="bell1" style="transform:translateX(229px);">
                <path d="M560 90 v -35 q 0 -35 25 -35 q 25 0 25 35 v 35 h -50" />
                <text x="580" y="50" style="fill:black;">1</text>
              </g>-->
              
              
            </g>
          </svg>
        
        <div id="overlay">
          
        </div>
        
        
        
        
      </div>
    
      
    
        
      <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="jquery.svg.js"></script>
    <script src="jquery.svganim.js"></script>
    <script src="jquery.svgdom.js"></script>
    <script src="test.js"></script> 
      
    
    
    
  </body>
</html>
